/* ChatBox.css */
.chat-box {
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-messages {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    height: 80vh;
  }
  
  .message {
    padding: 8px;
    margin:10px 4px;
    border-radius: 4px;
  }
  
  .message.user {
    background-color: #e3f2fd;
    margin-left: 50px;
  }
  
  .message.bot {
    background-color: #c8e6c9;
    margin-right: 60px;
  }
  
  .input-container {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* .instruction-box {
    background-color: #ffffff;
    color: #403f3f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
} */

.instruction-box {
  background-color: #f0f0f0;
  color: #797979;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

/* Styling for the instruction text */
.instruction-text {
  
  color: inherit;
  font-size: small;
}
  