.checkbox-wrapper input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    vertical-align:middle;
    width: 1.6em;
    height: 1.6em;
    border-radius: 1em;
    margin-right: 0.5em;
    border: 0.15em solid #007a7e;
    outline: none;
    cursor: pointer;
  }
  .checklist-text {
    margin-bottom: 5px;
  }
  input:checked {
    background-color: #007a7e;
    border: 0.15em solid #ffffff;
  }

  .checklist-item{
    padding: 10px;
  }
  
  /* input:checked::before {
    content: "2714";
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    right: 1px;
    top: -5px;
  } */